html, body {
    overflow: hidden; /* bloque le scroll vertical et horizontal */
    height: 100%;     /* s'assure que la hauteur est limitée à l'écran */
}




body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('mol.jpg') no-repeat center/cover;
}

.box {
    padding: 30px;
    border-radius: 12px;
    width: 330px;
    text-align: center;
    background-color: rgb(67,65,170);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.box h2 {
    color: rgb(81,107,255);
    padding: 15px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

textarea {
    height: 12px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #5865f2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #4752c4;
}

#status {
    margin-top: 10px;
    font-weight: bold;
}

#info {
    margin-top: 15px;
    color: white;
    font-size: 14px;
    opacity: 0.8;
}
